extends base/layout

block main
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h1
          span.fa.fa-sign-in Secret
    .row
      .col-sm-8.col-sm-offset-2
        if (message.length > 0)
         .alert.alert-success #{message}